body {
  font-family: helvetica, メイリオ, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  background-color: #eef2f3;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
