.header {
  text-align: center;
  &__logo {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: Lato, sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    letter-spacing: -5px;
    color: #fff;
  }
  &__caption {
    display: block;
    font-size: 18px;
    letter-spacing: initial;
  }
}
