$width-img: 64px;

.item {
  margin-bottom: 30px;
  margin-left: $width-img;
  &__authorImg {
    float: left;
    margin-left: $width-img * -1;
    border-radius: 50%;
  }
  &__body {
    float: left;
    margin-left: 15px;
  }
  &__header {
    margin-bottom: 5px;
  }
  &__author {
    margin-right: 15px;
    font-size: 16px;
  }
  &__time {
    margin-right: 10px;
  }
  &__count {
    padding: 5px 10px;
    font-size: 14px;
    color: $color-red;
    background-color: $color-pink;
    border-radius: 3px;
    cursor: pointer;
  }
  &__favicon {
    margin-right: 5px;
  }
  &__title {
    font-size: 18px;
    font-weight: normal;
  }
  &__link {
    color: #000;
    transition: .3s color;
    &:hover {
      color: $color-blue;
    }
  }
}
