$width-img: 64px;
$height-count: 28px;

.item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: box-shadow .3s;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  &__inner {
    margin-left: $width-img;
  }
  &__authorImg {
    float: left;
    margin-left: $width-img * -1;
    border-radius: 50%;
  }
  &__body {
    float: left;
    width: 100%;
    margin-left: 15px;
  }
  &__header {
    height: $height-count;
    margin-bottom: 5px;
  }
  &__author {
    margin-right: 15px;
    font-size: 16px;
  }
  &__time {
    margin-right: 10px;
  }
  &__count {
    box-sizing: border-box;
    position: relative;
    float: right;
    height: $height-count;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: -3px;
    margin-right: $height-count/2 * -1;
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    line-height: $height-count;
    color: #fff;
    background-color: $color-blue;
    border-radius: 3px;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: $height-count/2 solid transparent;
      border-left: $height-count/2 solid #fff;
    }
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      border: $height-count/4 solid transparent;
      border-top: $height-count/4 solid $color-dark-blue;
      border-left: $height-count/4 solid $color-dark-blue;
    }
  }
  &__users {
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
  }
  &__favicon {
    margin-right: 5px;
  }
  &__title {
    font-size: 18px;
    font-weight: normal;
  }
  &__link {
    color: #000;
    transition: .3s color;
    &:hover {
      color: $color-blue;
    }
  }
}
