$width-header: 300px;

.l {
  &-header {
    position: fixed;
    background-color: $color-blue;
    height: 100vh;
    width: $width-header;;
  }
  &-main {
    $padding: 50px;
    float: left;
    width: 700px;
    padding-top: $padding;
    padding-left: $padding;
    margin-right: 100px;
    margin-left: $width-header;
  }
  &-comment {
    position: relative;
    width: 14px * 30;
    max-height: 60vh;
    padding-left: 15px;
    border-left: 5px solid #ddd;
    overflow-y: scroll;
  }
}
