doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title hatebu-fav
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='shgtkshrch')
    meta(content='description', name='Hateba Bookmark reader')
    meta(content='keywords', name='hatena,bookmark')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
    // endbower
    // endbuild
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header.l-header.header
      h1.header__logo HBR
        span.header__caption Hanena Bookmark Reader
      form.header__form.form
        input#username.form__input(type="text" name="username" placeholder="ユーザー名")
        input#submit.form__submit(type="submit" value="決定")
    main.l-main
      #feed
      #next next
    .l-comment#comment

    script(type="text/template" id="item-template")
      .item.clearfix
        img.item__authorImg(src!="<%= authorImg %>")
        .item__body
          .item__header
            strong.item__author <%= author %>
            span.item__time <%= time %>
            span.item__count.js-bookmarkCount(data-url!="<%= link %>") <%= bookmarkCount %>user
          h2.item__title
            img.item__favicon(src!="<%= favicon %>")
            a.item__link(href!="<%= link %>" target="_blank") <%= title %>

    script(type="text/template" id="comment-template")
      .comment
        .comment__header
          img.comment__icon(src!="<%= icon %>")
          strong.comment__author <%= author %>
          span.comment__date <%= date %>
        p.comment__text <%= text %>

    script(src='https://www.google.com/jsapi')


    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/underscore/underscore.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/app.js')
    // endbuild
