doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title hatebu-fav
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='shgtkshrch')
    meta(content='description', name='Hateba Bookmark reader')
    meta(content='keywords', name='hatena,bookmark')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    #feed
    #next next

    script(src='https://www.google.com/jsapi')


    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
