@charset "UTF-8" ;

body {
  background-color: #eef2f3;
  font-family: helvetica, メイリオ, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.l-header {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #009ff8;
}

.l-main {
  width: 700px;
  margin-right: 50px;
  margin-left: 300px;
  padding-top: 50px;
  padding-left: 50px;
  float: left;
}

.l-comment {
  position: relative;
  width: 400px;
  max-height: 60vh;
  overflow-y: scroll;
}

.l-githubCorner {
  position: fixed;
  top: 0;
  right: 0;
}

.header {
  text-align: center;
}

.header__logo {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: -5px;
  text-align: center;
}

.header__caption {
  display: block;
  font-size: 18px;
  letter-spacing: initial;
}

.header__btn {
  margin-top: 100px;
}

.form {
  font-size: 0;
}

.form__input {
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  height: 36px;
  padding: 5px 10px;
  border: none;
  border-right: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.form__submit {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  height: 36px;
  border: none;
  background-color: #fff;
  color: #666;
  font-size: 16px;
}

.item {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  margin-bottom: 10px;
  padding: 15px;
  transition: box-shadow .3s;
  border-radius: 5px;
  background-color: #fff;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item__inner {
  margin-left: 64px;
}

.item__authorImg {
  margin-left: -64px;
  float: left;
  border-radius: 50%;
}

.item__body {
  width: 100%;
  margin-left: 15px;
  float: left;
}

.item__header {
  height: 28px;
  margin-bottom: 5px;
}

.item__author {
  margin-right: 15px;
  font-size: 16px;
}

.item__time {
  margin-right: 10px;
}

.item__count {
  box-sizing: border-box;
  position: relative;
  height: 28px;
  margin-top: -3px;
  margin-right: -14px;
  padding-right: 10px;
  padding-left: 25px;
  float: right;
  background-color: #009ff8;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  cursor: pointer;
}

.item__count::before {
  position: absolute;
  top: 0;
  left: 0;
  border: 14px solid transparent;
  border-left: 14px solid #fff;
  content: '';
}

.item__count::after {
  position: absolute;
  top: 100%;
  right: 0;
  border: 7px solid transparent;
  border-top: 7px solid #005e92;
  border-left: 7px solid #005e92;
  content: '';
}

.item__users {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.item__favicon {
  margin-right: 5px;
}

.item__title {
  padding-right: 15px;
  font-size: 18px;
  font-weight: normal;
}

.item__link {
  transition: .3s color;
  color: #000;
}

.item__link:hover {
  color: #009ff8;
}

.item__noitem {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.comment {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.comment__icon {
  width: 30px;
  height: auto;
  margin-right: 5px;
  border-radius: 50%;
  vertical-align: middle;
}

.comment__author {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  vertical-align: middle;
}

.comment__date {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}

.comment__text {
  margin-top: 5px;
  font-size: 14px;
  word-break: break-word;
}

.comment__nocomment {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.shepherd-text {
  font-size: 15px !important;
}

.shepherd-text p {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
}

.clearfix::after {
  clear: both;
}
